*{
    box-sizing: border-box;
    font-family: 'Single Day', cursive;
}
html{
    height: 100%;
    
}
body{
    height: 100%;
    margin: 0;
    justify-content: space;
   
    
}
.container{
    border-radius: 100px;
    height: 100%;
    background-color: lightskyblue
}
.chat-screen{
    height: calc(100% - 120px);
    
}
.user{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    height: 80px;
    
}
.button{

  
    width: 50px;
    height: 50px;
    border-radius: 10px;
  
}
.chat-screen-texts{
    display: block;
    list-style: none;
    margin-left: 10px;

    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    
}
.chat-screen-texts1{
    list-style: none;
    margin-right: 10px;
    float: right;


    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    

}
.namebox{
    position:relative;
    left: 60px;
    bottom: 50px;
}


.user-pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-image: url('image/IMG_2744.jpg');
    background-size: cover;

}   
.user-nick, .user-count{
    margin: 5px;
}
.user-count{
    font-size: 12px;
}

.chat-form{
    height: 120px;
    background-color: #371D1E
}
.chat-form-field{
    height: 120px;

}

.chat-form-msg{
    float: left;
    height: 120px;
        width:calc(100% - 120px);
        height: 120px;
        border: none;
        resize: none;
        font-size: 24px;
        padding: 10px;

    }
.chat-form-bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 20px;
    border: none;
    background-color: #FAE300;
    font-size: 18px;
}    

.chat-form-bt:active{
    background-color: darkblue;
}